
{% extends 'chart_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  {{ chart | safe }}
  <div>
    <h2>Course #{{ course_number }}:</h2>
    {% crispy form %}
  </div>
  <div>{{ chart_table | safe }}</div>

  <input class="btn btn-primary" type="download" value="Download GPX" onclick="location.href='{% url 'download' course_number pin rounding%}'">
  <input class="btn btn-primary" type="view" value="GPX Raw" onclick="location.href='{% url 'gpx_raw' course_number pin rounding%}'">

  <div class="flex-parent-element">
    <div class="flex-child-element magenta">
      <h5>Number Flags:</h5>
      {{ numeric_flag_table | safe }}
    </div>
    <div class="flex-child-element green">
      <h5>Letter Flags:</h5>
      {{ alphabet_flag_table | safe }}
    </div>
  </div>
{% endblock %}


