<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_54296f1473b4142bf1af8cac2a587395 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_54296f1473b4142bf1af8cac2a587395" ></div>
        
</body>
<script>    
    
            var map_54296f1473b4142bf1af8cac2a587395 = L.map(
                "map_54296f1473b4142bf1af8cac2a587395",
                {
                    center: [37.78182857142857, -122.3661119047619],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0e99a8ef2431649e51a8484f96b4af59 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
            var circle_8e1ecada365511ed0fa689143fbd707d = L.circle(
                [37.77555, -122.36581666666666],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_c9f004980bdf90e59b35f2a0f4ae2307 = L.popup({"maxWidth": "100%"});

        
            var html_36f02648c91ba43d0550b6d5c5ca27f4 = $(`<div id="html_36f02648c91ba43d0550b6d5c5ca27f4" style="width: 100.0%; height: 100.0%;">SC1</div>`)[0];
            popup_c9f004980bdf90e59b35f2a0f4ae2307.setContent(html_36f02648c91ba43d0550b6d5c5ca27f4);
        

        circle_8e1ecada365511ed0fa689143fbd707d.bindPopup(popup_c9f004980bdf90e59b35f2a0f4ae2307)
        ;

        
    
    
            var circle_a5faf016fec4c492a07d7e3da5016441 = L.circle(
                [37.778616666666665, -122.35745],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_b70646e3b890c45e900a5ba3ab70149b = L.popup({"maxWidth": "100%"});

        
            var html_919be6fa9b3a192b0d72c7dd2b3053ef = $(`<div id="html_919be6fa9b3a192b0d72c7dd2b3053ef" style="width: 100.0%; height: 100.0%;">T1</div>`)[0];
            popup_b70646e3b890c45e900a5ba3ab70149b.setContent(html_919be6fa9b3a192b0d72c7dd2b3053ef);
        

        circle_a5faf016fec4c492a07d7e3da5016441.bindPopup(popup_b70646e3b890c45e900a5ba3ab70149b)
        ;

        
    
    
            var circle_6125326de407bced4c1039b166a6df4f = L.circle(
                [37.782983333333334, -122.35786666666667],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_2a4966cb75c3166ab0258de78770844c = L.popup({"maxWidth": "100%"});

        
            var html_11251608bfb7d9a627e6fa88f66c5891 = $(`<div id="html_11251608bfb7d9a627e6fa88f66c5891" style="width: 100.0%; height: 100.0%;">RC BOAT</div>`)[0];
            popup_2a4966cb75c3166ab0258de78770844c.setContent(html_11251608bfb7d9a627e6fa88f66c5891);
        

        circle_6125326de407bced4c1039b166a6df4f.bindPopup(popup_2a4966cb75c3166ab0258de78770844c)
        ;

        
    
    
            var poly_line_a3a3efc94ff4185308f07025d30d8d28 = L.polyline(
                [[37.77555, -122.36581666666666], [37.778616666666665, -122.35745], [37.782983333333334, -122.35786666666667]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
            var circle_31f3c9afcd1ea0da2974105663918036 = L.circle(
                [37.779050000000005, -122.36037777777779],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 40, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_5747d2a2fc4d079e72c603695070b014 = L.popup({"maxWidth": "100%"});

        
            var html_a90b929da3988c33feeace9c7cd3782b = $(`<div id="html_a90b929da3988c33feeace9c7cd3782b" style="width: 100.0%; height: 100.0%;">START</div>`)[0];
            popup_5747d2a2fc4d079e72c603695070b014.setContent(html_a90b929da3988c33feeace9c7cd3782b);
        

        circle_31f3c9afcd1ea0da2974105663918036.bindPopup(popup_5747d2a2fc4d079e72c603695070b014)
        ;

        
    
    
            var circle_e3af005fdb2259b52c03e47dc61ea9e6 = L.circle(
                [37.78191666666667, -122.38216666666666],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 20, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_81f5b020d2a26e04d382d07eeb53dcaa = L.popup({"maxWidth": "100%"});

        
            var html_f8d3795c9c05b5c5a64ac6e9d52d16cf = $(`<div id="html_f8d3795c9c05b5c5a64ac6e9d52d16cf" style="width: 100.0%; height: 100.0%;">W</div>`)[0];
            popup_81f5b020d2a26e04d382d07eeb53dcaa.setContent(html_f8d3795c9c05b5c5a64ac6e9d52d16cf);
        

        circle_e3af005fdb2259b52c03e47dc61ea9e6.bindPopup(popup_81f5b020d2a26e04d382d07eeb53dcaa)
        ;

        
    
    
            var circle_f3a35d40fdbcaa2bfaf67e89fa8ccdca = L.circle(
                [37.77943333333333, -122.38233333333334],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 20, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_c0c946780f9005f81a58b95fc917f55f = L.popup({"maxWidth": "100%"});

        
            var html_ae7817b28e0de009d3410a7ba5314125 = $(`<div id="html_ae7817b28e0de009d3410a7ba5314125" style="width: 100.0%; height: 100.0%;">R</div>`)[0];
            popup_c0c946780f9005f81a58b95fc917f55f.setContent(html_ae7817b28e0de009d3410a7ba5314125);
        

        circle_f3a35d40fdbcaa2bfaf67e89fa8ccdca.bindPopup(popup_c0c946780f9005f81a58b95fc917f55f)
        ;

        
    
    
            var circle_1b7b4403ea0812d673c69c87ccde4a1e = L.circle(
                [37.77725, -122.34128333333334],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_34d55a73beb34771edb54a9f0ccbc11c = L.popup({"maxWidth": "100%"});

        
            var html_2f5ff71773ae2081bf51fbef6c2aac17 = $(`<div id="html_2f5ff71773ae2081bf51fbef6c2aac17" style="width: 100.0%; height: 100.0%;">NAS1</div>`)[0];
            popup_34d55a73beb34771edb54a9f0ccbc11c.setContent(html_2f5ff71773ae2081bf51fbef6c2aac17);
        

        circle_1b7b4403ea0812d673c69c87ccde4a1e.bindPopup(popup_34d55a73beb34771edb54a9f0ccbc11c)
        ;

        
    
    
            var circle_7bad7b9204d675067ea5e36374de165a = L.circle(
                [37.77418333333333, -122.34101666666666],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_46c9d7c6048f3caa00937e46b0275cc7 = L.popup({"maxWidth": "100%"});

        
            var html_59d80da90e66fdfa4084bbdf9ede1604 = $(`<div id="html_59d80da90e66fdfa4084bbdf9ede1604" style="width: 100.0%; height: 100.0%;">NAS2</div>`)[0];
            popup_46c9d7c6048f3caa00937e46b0275cc7.setContent(html_59d80da90e66fdfa4084bbdf9ede1604);
        

        circle_7bad7b9204d675067ea5e36374de165a.bindPopup(popup_46c9d7c6048f3caa00937e46b0275cc7)
        ;

        
    
    
            var poly_line_b70dbcbc05d74a94dafe1236f2decdd9 = L.polyline(
                [[37.77725, -122.34128333333334], [37.77418333333333, -122.34101666666666]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
            var circle_cbed0e85611cb9e14f680ec0e8705321 = L.circle(
                [37.77571666666667, -122.34115],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 40, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_00a607b88aa41dfc2e04eb5da9a59f75 = L.popup({"maxWidth": "100%"});

        
            var html_1d6ba84c10e902c7c8b332452a261b4c = $(`<div id="html_1d6ba84c10e902c7c8b332452a261b4c" style="width: 100.0%; height: 100.0%;">NAS1/NAS2</div>`)[0];
            popup_00a607b88aa41dfc2e04eb5da9a59f75.setContent(html_1d6ba84c10e902c7c8b332452a261b4c);
        

        circle_cbed0e85611cb9e14f680ec0e8705321.bindPopup(popup_00a607b88aa41dfc2e04eb5da9a59f75)
        ;

        
    
    
            var circle_7c3fcf99654384d8f2408a65021f7395 = L.circle(
                [37.77138333333333, -122.38301666666666],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_6fa3b8fa6f845f54b34b4c25c086ffd0 = L.popup({"maxWidth": "100%"});

        
            var html_44d98433ab5d450cf7e225ed06a9ceb9 = $(`<div id="html_44d98433ab5d450cf7e225ed06a9ceb9" style="width: 100.0%; height: 100.0%;">AS1</div>`)[0];
            popup_6fa3b8fa6f845f54b34b4c25c086ffd0.setContent(html_44d98433ab5d450cf7e225ed06a9ceb9);
        

        circle_7c3fcf99654384d8f2408a65021f7395.bindPopup(popup_6fa3b8fa6f845f54b34b4c25c086ffd0)
        ;

        
    
    
            var circle_a40978a267591f36adaa2a3614069d59 = L.circle(
                [37.77555, -122.36581666666666],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_21fb7fb672349cb90024b1e52e68e1f0 = L.popup({"maxWidth": "100%"});

        
            var html_959f4578fdf67b2fd5b9c12d753e7885 = $(`<div id="html_959f4578fdf67b2fd5b9c12d753e7885" style="width: 100.0%; height: 100.0%;">SC1</div>`)[0];
            popup_21fb7fb672349cb90024b1e52e68e1f0.setContent(html_959f4578fdf67b2fd5b9c12d753e7885);
        

        circle_a40978a267591f36adaa2a3614069d59.bindPopup(popup_21fb7fb672349cb90024b1e52e68e1f0)
        ;

        
    
    
            var circle_a70ce4b7324f44eecd6d61d6397334cb = L.circle(
                [37.77636666666667, -122.38495],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_eb5995bfc0a06b536f3d9a7e638697df = L.popup({"maxWidth": "100%"});

        
            var html_5259b05052c766ddf01cd3dc50825ae8 = $(`<div id="html_5259b05052c766ddf01cd3dc50825ae8" style="width: 100.0%; height: 100.0%;">PIER 48</div>`)[0];
            popup_eb5995bfc0a06b536f3d9a7e638697df.setContent(html_5259b05052c766ddf01cd3dc50825ae8);
        

        circle_a70ce4b7324f44eecd6d61d6397334cb.bindPopup(popup_eb5995bfc0a06b536f3d9a7e638697df)
        ;

        
    
    
            var circle_a86da15dc636a3ded241dace3cee6f4f = L.circle(
                [37.77845, -122.3853],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_2dfc0592891392d32ec2ffae26deec0e = L.popup({"maxWidth": "100%"});

        
            var html_af3a8bfc754df0871d287ba6a249bc40 = $(`<div id="html_af3a8bfc754df0871d287ba6a249bc40" style="width: 100.0%; height: 100.0%;">PA</div>`)[0];
            popup_2dfc0592891392d32ec2ffae26deec0e.setContent(html_af3a8bfc754df0871d287ba6a249bc40);
        

        circle_a86da15dc636a3ded241dace3cee6f4f.bindPopup(popup_2dfc0592891392d32ec2ffae26deec0e)
        ;

        
    
    
            var poly_line_7e969be4a6c1a6df11d184f94f76c15e = L.polyline(
                [[37.77636666666667, -122.38495], [37.77845, -122.3853]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
            var circle_866a3385879149cd122b775a847965f1 = L.circle(
                [37.777408333333334, -122.385125],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 40, "stroke": true, "weight": 3}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
    
        var popup_9560f04650d19c3fc00f301af1c2b264 = L.popup({"maxWidth": "100%"});

        
            var html_3589a030b54eccf9fa9fa95b683fc519 = $(`<div id="html_3589a030b54eccf9fa9fa95b683fc519" style="width: 100.0%; height: 100.0%;">FINISH</div>`)[0];
            popup_9560f04650d19c3fc00f301af1c2b264.setContent(html_3589a030b54eccf9fa9fa95b683fc519);
        

        circle_866a3385879149cd122b775a847965f1.bindPopup(popup_9560f04650d19c3fc00f301af1c2b264)
        ;

        
    
    
            var poly_line_4d84d84a36f955208d65a0f171235552 = L.polyline(
                [[37.779050000000005, -122.36037777777779], [37.78191666666667, -122.38216666666666], [37.77943333333333, -122.38233333333334], [37.77571666666667, -122.34115], [37.77138333333333, -122.38301666666666], [37.77555, -122.36581666666666], [37.777408333333334, -122.385125]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_54296f1473b4142bf1af8cac2a587395);
        
</script>